.container-text {
	@include breakpoint-md-big {
		height: 700px;
	}

	.info_container {
		margin: $default_spacing2 0;

		img {
			height: 50px;
			width: 50px;
			object-fit: contain;
			object-position: center;
		}
	}

	.info_content {
		margin-left: $default_spacing2;
	}
}

.container-form {
	@include breakpoint-md-big {
		position: absolute;
		top: -40px;

		.form {
			padding-top: 60px;
		}
	}
}