#footer {
	.container-fluid {
		padding-top: $default_spacing4;
		background-color: $light;
		border-bottom: 1px solid;
		@include half-opacity($dark);

		#partnerCarousel {
			padding-bottom: $default_spacing;

			img {
				height: 100px;
				object-position: center;
				object-fit: contain;
			}
		}
	}


	.info {
		margin-top: $default_spacing;

		.services {
			margin-bottom: $default_spacing;

			&_link {
				color: $dark;
				opacity: 0.5;

				&:not(:last-child) {
					margin-right: $default_spacing;
				}
			}
		}

		.socials {
			align-self: end;
			margin-top: auto;
			margin-bottom: $default_spacing;

			&_img {
				width: 50px;
				height: 50px;


				margin-right: $default_spacing;
			}
		}
	}

	.logo_container {
		margin-bottom: $default_spacing;

		@include breakpoint-md {
			order: -1;
		}

		.logo {
			align-self: center;
			justify-self: center;
			max-height: 75px;
			width: auto;
		}
	}

	.contacts {
		justify-self: end;
		margin-bottom: $default_spacing;

		.contact_container {
			&:not(:last-child) {
				margin-bottom: $default_spacing;
			}

			&_link {
				display: flex;
				align-items: center;
				text-decoration: none;

				@include breakpoint-sm {
					justify-content: center;
				}
			}

			&_img {
				height: 25px;
				width: 25px;
				object-fit: contain;
				object-position: center;

				margin-right: $default_spacing;
			}
		}

	}
}

