html, body {
	width: 100%;
	min-height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	font-family: $fonts;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

* {
	color: $dark;
}

a {
	outline: none;
}

.title {
	margin: $default-spacing2 0;

	@include breakpoint-md {
		margin: $default-spacing 0;
	}
}

.subtitle {
	margin: $default-spacing 0;
}

.container.special {
	@include breakpoint-md-big {
		max-width: 770px;
	}
	@include breakpoint-lg-big {
		max-width: 1110px;
	}
	@include breakpoint-xl-big {
		max-width: 1240px;
	}
}

.background {
	position: absolute;
	height: 326px;
	width: 100%;
	border-radius: 0 0 $squircle $squircle;
	z-index: -1;

	@include breakpoint-lg {
		height: 275px;
	}

	@include breakpoint-md {
		height: 250px;
	}

	&.medium {
		height: 250px;

		@include breakpoint-lg {
			height: 225px;
		}

		@include breakpoint-md {
			height: 175px;
		}
	}

	&.small {
		height: 200px;

		@include breakpoint-lg {
			height: 280px;
		}

		@include breakpoint-md {
			height: 200px;
		}
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, p {
	margin: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
	padding-left: 0;
	padding-right: 0;
}

img:not(.square) {
	border-radius: $squircle;
}

.squircles {
	border-radius: $squircle;
}

.content_top {
	margin-top: $default_spacing2;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	@extend .squircles;
}
