.row {
	margin-left: 0;
	margin-right: 0;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
	padding-left: 0;
	padding-right: 0;
}

.container.special {
	@include breakpoint-md-big {
		max-width: 770px;
	}
	@include breakpoint-lg-big {
		max-width: 1110px;
	}
	@include breakpoint-xl-big {
		max-width: 1240px;
	}
}

.m {
	&-default {
		margin: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				margin: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				margin: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				margin: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				margin: 0 !important;
			}
		}

		&-2 {
			margin: $default_spacing2 !important;

			@include breakpoint-md {
				margin: $default_spacing !important;
			}
		}

		&-4 {
			margin: $default_spacing4 !important;

			@include breakpoint-md {
				margin: $default_spacing2 !important;
			}
		}
	}

	&t-default {
		margin-top: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				margin-top: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				margin-top: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				margin-top: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				margin-top: 0 !important;
			}
		}

		&-2 {
			margin-top: $default_spacing2 !important;

			@include breakpoint-md {
				margin-top: $default_spacing !important;
			}
		}

		&-4 {
			margin-top: $default_spacing4 !important;

			@include breakpoint-md {
				margin-top: $default_spacing2 !important;
			}
		}
	}

	&b-default {
		margin-bottom: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				margin-bottom: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				margin-bottom: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				margin-bottom: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				margin-bottom: 0 !important;
			}
		}

		&-2 {
			margin-bottom: $default_spacing2 !important;

			@include breakpoint-md {
				margin-bottom: $default_spacing !important;
			}
		}

		&-4 {
			margin-bottom: $default_spacing4 !important;

			@include breakpoint-md {
				margin-bottom: $default_spacing2 !important;
			}
		}
	}

	&l-default {
		margin-left: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				margin-left: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				margin-left: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				margin-left: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				margin-left: 0 !important;
			}
		}

		&-2 {
			margin-left: $default_spacing2 !important;

			@include breakpoint-md {
				margin-left: $default_spacing !important;
			}
		}

		&-4 {
			margin-left: $default_spacing4 !important;

			@include breakpoint-md {
				margin-left: $default_spacing2 !important;
			}
		}
	}

	&r-default {
		margin-right: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				margin-right: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				margin-right: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				margin-right: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				margin-right: 0 !important;
			}
		}

		&-2 {
			margin-right: $default_spacing2 !important;

			@include breakpoint-md {
				margin-right: $default_spacing !important;
			}
		}

		&-4 {
			margin-right: $default_spacing4 !important;

			@include breakpoint-md {
				margin-right: $default_spacing2 !important;
			}
		}
	}
}

.p {
	&-default {
		padding: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				padding: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				padding: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				padding: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				padding: 0 !important;
			}
		}

		&-2 {
			padding: $default_spacing2 !important;

			@include breakpoint-md {
				padding: $default_spacing !important;
			}
		}

		&-4 {
			padding: $default_spacing4 !important;

			@include breakpoint-md {
				padding: $default_spacing2 !important;
			}
		}
	}

	&t-default {
		padding-top: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				padding-top: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				padding-top: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				padding-top: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				padding-top: 0 !important;
			}
		}

		&-2 {
			padding-top: $default_spacing2 !important;

			@include breakpoint-md {
				padding-top: $default_spacing !important;
			}
		}

		&-4 {
			padding-top: $default_spacing4 !important;

			@include breakpoint-md {
				padding-top: $default_spacing2 !important;
			}
		}
	}

	&b-default {
		padding-bottom: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				padding-bottom: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				padding-bottom: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				padding-bottom: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				padding-bottom: 0 !important;
			}
		}

		&-2 {
			padding-bottom: $default_spacing2 !important;

			@include breakpoint-md {
				padding-bottom: $default_spacing !important;
			}
		}

		&-4 {
			padding-bottom: $default_spacing4 !important;

			@include breakpoint-md {
				padding-bottom: $default_spacing2 !important;
			}
		}
	}

	&l-default {
		padding-left: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				padding-left: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				padding-left: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				padding-left: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				padding-left: 0 !important;
			}
		}

		&-2 {
			padding-left: $default_spacing2 !important;

			@include breakpoint-md {
				padding-left: $default_spacing !important;
			}
		}

		&-4 {
			padding-left: $default_spacing4 !important;

			@include breakpoint-md {
				padding-left: $default_spacing2 !important;
			}
		}
	}

	&r-default {
		padding-right: $default_spacing !important;

		&-sm {
			@include breakpoint-sm-big {
				padding-right: 0 !important;
			}
		}

		&-md {
			@include breakpoint-md-big {
				padding-right: 0 !important;
			}
		}

		&-lg {
			@include breakpoint-lg-big {
				padding-right: 0 !important;
			}
		}

		&-xl {
			@include breakpoint-xl-big {
				padding-right: 0 !important;
			}
		}

		&-2 {
			padding-right: $default_spacing2 !important;

			@include breakpoint-md {
				padding-right: $default_spacing !important;
			}
		}

		&-4 {
			padding-right: $default_spacing4 !important;

			@include breakpoint-md {
				padding-right: $default_spacing2 !important;
			}
		}
	}
}

.col-md-4 {
	&-default {
		@include breakpoint-md-big {
			max-width: calc(33.33333% - #{$default_spacing}) !important;
		}

		&-2 {
			@include breakpoint-md-big {
				max-width: calc(33.33333% - #{$default_spacing2}) !important;
			}
		}

		&-4 {
			@include breakpoint-md-big {
				max-width: calc(33.33333% - #{$default_spacing4}) !important;
			}
		}
	}
}

.col-md-6 {
	&-default {
		@include breakpoint-md-big {
			max-width: calc(50% - #{$default_spacing}) !important;
		}

		&-2 {
			@include breakpoint-md-big {
				max-width: calc(50% - #{$default_spacing2}) !important;
			}
		}

		&-4 {
			@include breakpoint-md-big {
				max-width: calc(50% - #{$default_spacing4}) !important;
			}
		}
	}
}